<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Создание_управления_сетью_гостиниц.Properties.Settings.DataBaseConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|Data Directory|\DataBase.accdb&quot;;Persist Security Info=True;User ID=Admin;Mode=ReadWrite"
            providerName="System.Data.OleDb" />
        <add name="Создание_управления_сетью_гостиниц.Properties.Settings.DataBaseConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\DataBase.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>